.titulo{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
}
.categorias{
    justify-content: center;
    display: flex;
    color: red;
    gap: 50px;
    list-style: none;
}
.cuerpo{

}

h3{
    color: seagreen;
}
p{
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}