html{
    background-color: #304c64;
}
h1{
    text-align: center;
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow:
    1px 1px 1px #e2480c,
    2px 2px 1px #e2480c;
}
.categorias{
    justify-content: center;
    display: flex;
    color: red;
    gap: 50px;
    list-style: none;
}
h3{
    font-family: "Arial";
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow:
    1px 1px 1px #e2480c,
    2px 2px 1px #e2480c;
}
p{
    letter-spacing: 2px;
    word-spacing: 3px;
    background-color: #26788e;
    text-align: center;
}
article{
text-align: center;
}
h4{
    font-family: "Arial";
    font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
   text-shadow:
    1px 1px 1px #631B08,
    2px 2px 1px #631B08;
}
.cuerpo{
    display: block;
    justify-content: center;
    height: 100vh; 
}




/*Fuentes
https://developer.mozilla.org/es/docs/Learn_web_development/Core/Text_styling/Fundamentals
*/ 
